.header {
  background-image: url(204398-OZ3P4A-964.png");
}
img {
  width: 1440px;
  height: 372px;
}
.conteiner {
  max-width: 1440px;
  margin: 0 auto;
}
h1 {
  font-family: "Neucha", cursive;
  font-style: normal;
  color: #003395;
}
h2 {
  font-family: "Roboto";
  color: #000000;
}
.nav {
  background-color: #003395;
}
.nav-list {
  padding: 20px;
  align-items: center;
  color: aqua;
}
.nav-item {
  display: inline;
  padding: 15px;
}
a:hover {
  color: red;
}
.main {
  display: flex;
  margin: 10px;
  padding: 10px;
}
.footer {
  display: flex;
  background-color: #003395;
  flex-grow: 1;
  color: aliceblue;
  flex-direction: row-reverse;
  padding: 10px;
}
.name1 {
  background-color: rgb(27, 190, 240);
  padding: 10px;
  color: white;
}
.frame {
  border: 2px solid rgb(51, 51, 154);
  margin: 20px;
  padding: 15px;
}
.name {
  border-top: 2px solid rgb(51, 51, 154);
  border-bottom: 2px solid rgb(51, 51, 154);
}
.text {
  padding: 10px;
}
